@import '../../abstracts/colors';
@import '../../abstracts/sizes';
@import '../../abstracts/fonts';
@import './Person.scss';

.party-member-component {

    grid-row: 1;
    grid-column: 1;
    border-bottom: 1px solid $d3;
    grid-template-columns: auto 1fr auto auto;

    &.selected {
        background-color: $d3;
        transform: translate(2px);
    }
}
