@import '../../abstracts/colors';
@import '../../abstracts/sizes';
@import '../../abstracts/fonts';
@import './Person.scss';


.user-component {
    grid-row: 3;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    border-top: 1px solid $light;

    .action-btn {
        border: none;
        background-color: transparent;
        margin: 0px 10px;

        opacity: .6;
        &:hover {
            opacity: .8;
        }

        &:active {
            opacity: 1;
        }

        cursor: pointer;
    }

    .leave-party {
        background-image: url('../../../assets/leave-party.svg');
        background-size: 22px;
        width: 22px;
        height: 22px;
    }

    .settings {
        background-image: url('../../../assets/settings.svg');
        background-size: 26px;
        width: 26px;
        height: 26px;
        margin-right: 16px;
    }

}