$darkest: #202020;
$background: #2A2A2A;
$d3: #303030;
$d4: #3F3F3F;
$d5: #484848;
$light: #515151;
$accent: #CE5F5F;

$text-main: #E0E0E0;
$text-mid: #D0D0D0;
$text-dark: #A0A0A0;

$status-ok: #83CE5F;
$status-loading: #CEBC5F;
$status-error: #CE5F5F;
$status-patching: blue;


